.float-container{
    justify-content: center;
    align-items: center;
    display: inline-table;
}

.float-child-cd3{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 0px 20px;
}

.float-top{
    vertical-align: text-top;
}

.form_margin{
    padding: 40px 0 40px 0;
    margin-top: 4rem;
}

#tenancyformlogin img
{
    height: 52px;
}

.excel:hover {
    fill: #308c0b;
}

.float-child-anchor{
    text-decoration: none !important;
}

.card {
    width: 150px;
}

/*
.db-div{
float: left;
width: 250px;
height: 150px;
border: blue solid;
margin: 20px 20px 20px 20px;
display: flex;
justify-content: center;
align-items: center;
}


.float-child{
    float: left;
    width: 200px;
    height: 80px;
    border-width: 3px;
    border-radius: 15px;
    border: #c4c4c4 solid;
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.float-child:hover {
    background-color: #fff9eb;
    border: #246fc7 solid;
}


*/