<!DOCTYPE html>
{% load static %}
<html lang="en" style="min-height: 100%; position: relative;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/cd3.js' %}" type="text/javascript"></script>
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <title>CD3aaS</title>

</head>
<!--<body id="bg_pattern" style="background-image: url({% static 'img/redwood.png' %});">-->
<body id="bg_pattern" style="margin-bottom: 50px;">
<div>
    <div class="header-gradient" aria-hidden="true"></div>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top" style="background-color: #001129;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="navbutton" type="button" onclick="openNav()" class="navbar-toggle1 pull-left">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if request.session.displayname %}
                <a class="navbar-brand" href="{% url 'register:cd3home' %}">CD3aaS</a>
                {% endif %}
            </div>
            <div id="navbar" class="navbar-collapse collapse" style="background: #001129;">
                <ul class="nav navbar-nav navbar-right">
                    {% if not request.session.displayname %}
                    <li><a href="{% url 'register:cd3login' %}"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a>
                    </li>
                    {% else %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{request.session.displayname}}</a>
                    </li>
                    <li><a href="{% url 'register:cd3logout' %}"><span class="glyphicon glyphicon-log-out"></span>
                        Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <ul style="padding-inline-start: 0;">
            {% if request.session.displayname %}
            <li><a href="{% url 'vcn:tenancy_new' %}">New Customer</a></li>
            <li><a href="{% url 'vcn:tenancy_list' %}">Existing Customer</a></li>
            {% endif %}
            {% if not request.session.displayname %}
            <li><a href="{% url 'register:cd3login' %}"><span class="glyphicon glyphicon-log-in"></span>
                Login</a>
            </li>
            {% else %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{request.session.displayname}}</a>
            </li>
            <li><a href="{% url 'register:cd3logout' %}"><span class="glyphicon glyphicon-log-out"></span>
                Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div id="main" class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="overlay" class="navoverlay" onclick="closeNav()"></div>
</div>
<footer>
    <div><span>Copyright © 2020, Oracle and/or its affiliates. All rights reserved.</span></div>
</footer>
</body>
</html>