{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/tenancy_form.css' %}">
<div id="tenancyform" class="jumbotron jumbotron_bg form_margin">
    <form enctype="multipart/form-data" method="post">
        <div>
            {% csrf_token %}
            {{ object }}
            </br>
            <table class="tenancy-center form-font">
                {{ form.as_table }}
            </table>
        </div>
        <div class="tenancy-center">
            <input type="submit" class="btn btn-success btn-margin" name="Update" value="Update">
        </div>
    </form>
</div>

{% endblock %}