{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/tenancy_form.css' %}">
<div id="tenancy-delete" class="form_margin centerstage">
    <div class="tenancy tenancy-center">
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <b>"{{ object }}"</b> ?</p>
            <input class='btn btn-danger btn-deleteconfirm' type="submit" value="Confirm" />
        </form>
    </div>
</div>

{% endblock %}