{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/tenancy_form.css' %}">
<div id="loader">
    <div id="wrapper">
    </div>
</div>
<div id="tenancyform" class="form_margin row">
    <div class="col-sm-1 col-xs-12"></div>
    <form id="tenantForm" class="col-sm-10 col-xs-12" enctype="multipart/form-data" method="post">
        <div>
            {% csrf_token %}

            <div class="tab">
                <div class="form-font myform">
                    <!--                {{ form.as_table }}-->
                    <div class="h4_heading"><span>Tenancy Connection Details</span></div>
                     </br>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Stack_Name.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Stack_Name.errors }}
                            {{ form.Stack_Name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Tenancy_OCID.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Tenancy_OCID.errors }}
                            {{ form.Tenancy_OCID }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Fingerprint.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Fingerprint.errors }}
                            {{ form.Fingerprint }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.User_OCID.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.User_OCID.errors }}
                            {{ form.User_OCID }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Region.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Region.errors }}
                            {{ form.Region }}
                        </div>
                    </div>
                    {% if object %}
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Key_File.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12" id="keyfile">
                            {{ form.Key_File.errors }}
                            {{ form.Key_File }}
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Key_File.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Key_File.errors }}
                            {{ form.Key_File }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="tab">
                <div class="form-font myform">
                    <div class="h4_heading"><span>Services</span></div>
                    {% if object %}
                    <div>
                        <div class="note"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="file-edit"><path fill="none" stroke="#000" d="M18.65,1.68 C18.41,1.45 18.109,1.33 17.81,1.33 C17.499,1.33 17.209,1.45 16.98,1.68 L8.92,9.76 L8,12.33 L10.55,11.41 L18.651,3.34 C19.12,2.87 19.12,2.15 18.65,1.68 L18.65,1.68 L18.65,1.68 Z"></path><polyline fill="none" stroke="#000" points="16.5 8.482 16.5 18.5 3.5 18.5 3.5 1.5 14.211 1.5"></polyline></svg>
                            <b>Note</b><br>
                            Previously created tf files are retained. Any modifications to the tf need to be run via the CD3 Excel sheet.
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Compartment.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Compartment.errors }}
                            {{ form.Compartment }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Groups.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Groups.errors }}
                            {{ form.Groups }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Network.label_tag }}
                            <a id="info_network" href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="Export Security Rule & Route Rules : Specify the compartment name ( as it appears in the console) from where you want to export rules">
                                <img src="{{ MEDIA_URL }}/Images/info-icon.svg" alt="Info">
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Network.errors }}
                            {{ form.Network }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel"></div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Export_Compartment_Name.errors }}
                            {{ form.Export_Compartment_Name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.NSG.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.NSG.errors }}
                            {{ form.NSG }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Instance.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Instance.errors }}
                            {{ form.Instance }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Instance_SSH_Public_Key.label_tag }}</div>
                        <div class="col-sm-3 col-xs-12">
                            {{ form.Instance_SSH_Public_Key.errors }}
                            {{ form.Instance_SSH_Public_Key }}
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            {{ form.Instance_SSH_Public_Value.errors }}
                            {{ form.Instance_SSH_Public_Value }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Block_Volume.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Block_Volume.errors }}
                            {{ form.Block_Volume }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.RM.label_tag }}
                            <a id="info_rm" href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="Creates the stack and uploads to RM in the specified region">
                                <img src="{{ MEDIA_URL }}/Images/info-icon.svg" alt="Info">
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.RM.errors }}
                            {{ form.RM }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.Compartment_Name.label_tag }}
                            <a id="info_rmcompartment" href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="Creates the compartment at root level if doesn't already exist in tenancy">
                                <img src="{{ MEDIA_URL }}/Images/info-icon.svg" alt="Info">
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.Compartment_Name }}
                        </div>
                    </div>
                    {% if object %}
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.CD3_Excel.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12" id="cd3excel">
                            {{ form.CD3_Excel.errors }}
                            {{ form.CD3_Excel }}
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 formlabel">{{ form.CD3_Excel.label_tag }}</div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.CD3_Excel.errors }}
                            {{ form.CD3_Excel }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div style="overflow:auto; margin-top: 25px;" class="tenancy-center">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                <button type="submit" id="generateExcel" style="display: none;">Generate Excel</button>
            </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
    <div class="col-sm-1 col-xs-12"></div>
</div>
<script src="{% static 'js/tenancy_form.js' %}"></script>
{% endblock %}