{% extends 'base.html' %}

{% block content %}
<div id="tenancyformlogin" class="form_margin">
    <h2 class="h4_heading"> <em>Welcome to CD3aaS</em></h2>
    <p>
        Cloud Deployment Design Deliverable as a Service(CD3aaS) is an automation toolkit that has been developed to help in automating
        the creation of OCI resources. It helps to manage the OCI Infrastructure as Code. By using CD3aaS, the Terraform files can be
        downloaded on your machine or can be applied in OCI Resource Manager.
    </p>
</div>
{% endblock %}